<label for="serverName">Server name: </label>
<!-- <input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<input type="text" class="form-control" [(ngModel)]="serverName">

<button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onCreateServer()">Add server</button>
<p *ngIf="serverCreated; else noServer">Server was created, name is {{serverName}}</p>
<ng-template #noServer>
    <p>No server was created.</p>
</ng-template>

<hr>
<button class="btn btn-dark" (click)="onToggleDetails()">Display Details</button>
<p *ngIf="showSecret">Secret Password = 'tuna'</p>
<div *ngFor='let logItem of log' [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'white' }" [ngClass]="{ 'white-text' : logItem >=5 }">{{logItem}}</div>

<input type="text" class="form-control" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-success" [disabled]=" username === ''" (click)=" username = '' ">Update Username</button>
<app-server *ngFor="let server of servers"></app-server>